.body2{
    background: linear-gradient(to bottom, #141b29, #0c111b 300px);
    color: white;
    /* height: 100vh; */
    margin-top: 4rem;
    padding-top: 1rem;
    scroll-behavior: smooth;
    background-size: cover;
}

.body2 h5{
    padding: 0;
    margin: 0;
    margin: .5rem;
    position: relative;
    top: 1.5rem;
}