.sub2{
    /* background-color: transparent; */
    height: 720px;
    /* border: 1px solid red; */
    width: 100%;
    /* opacity: .7; */
    /* position: absolute; */
    /* top: 0; */

}

.extra{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 550px;
    /* border: 1px solid red; */
    background-color: #0b0f18;
}

.sub2 .sub_img{
    height: 100%;
    width: 100%;
    position: absolute;
}

.sub_container{
    background:  linear-gradient(to bottom, #334366, #334366, #1c2940);

}

.container2{
    width: 100%;
    /* height: 100vh; */
    overflow-y: scroll;
    position: absolute;
    top: 0;
    /* border: 1px solid blue; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

.container2 h4{
    margin-top: 4rem;
}

.container2::-webkit-scrollbar {
    width: 0px;
}
  

.aise-hi{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    box-shadow: inset #141b29 0px 162px 162px 11px;
    box-shadow: inset #0b0f18 0px 162px 162px 11px;
}

.aisa-vaisa{
    position: absolute;
    width: 100%;
    height: 90vh;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(4,8,15,0), #192133, #192133);
    background-image: linear-gradient(to bottom, rgba(10, 17, 29, 0), #0e131d, #0b0f18);
}

.new_nav{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    position: fixed;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    height: 75px;
    top: 0rem;
    color: white;
    background-color: #12192683;
    padding: 0 3rem;
    z-index: 10;
    transition: all .1s ease-in-out;
}

.new_nav img{
    width: 100px;
}

.sub_login{
    border: none;
    outline: none;
    font-size: 13px;
    padding: .4rem 1rem;
    color: white;
    border-radius: 3px;
    background-color: #1f80e0;
}


.pack_container{
    /* border: 1px solid red; */
    width: 65%;
    padding: 0 3rem;
    /* margin-top: 3rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 6px;
    background: linear-gradient(to bottom, #192133, #111826);
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    box-shadow: none !important;
    border-bottom: 1px solid white;
    border-radius: 0% !important;
    font-size: 13px !important;
    opacity: .8 !important;
}

.css-1ex1afd-MuiTableCell-root{
    color: white !important;
    padding: .6rem 0 !important;
    font-size: 16px !important;
}

.css-1yhpg23-MuiTableCell-root{
    color: white !important;
    font-size: 16px !important;
    padding: .7rem 1rem !important;
}

.css-1ndpvdd-MuiTableCell-root{
    color: white !important;
    font-size: 16px !important;
    padding: .6rem 1rem !important;
}


.pack1,.pack2{
    width: 49%;
    border: 1px solid #334366;
    padding: .7rem .5rem;
    border-radius: 5px;
}
/* .pack2{
    width: 49%;
    border: 1px solid red;
    padding: .8rem .5rem;
} */

.table_container{
    height: 310px;
    overflow-y: scroll;
}

.table_container::-webkit-scrollbar {
    width: 2px;
    visibility: hidden;
  }
  
  /* Track */
  .table_container::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  .table_container::-webkit-scrollbar-thumb {
    background: rgb(184, 179, 179); 
  }
  
  /* Handle on hover */
  .table_container::-webkit-scrollbar-thumb:hover {
    background: #555; 
    visibility: visible;
  }

.continue{
    width: 100%;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 3px;
    background-color: #1f80e0;

}
